{% load analytical staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
{% analytical_head_top %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{% block title %}Home{% endblock %} - Mutual Tracker</title>
  <link rel="shortcut icon" href="{% static 'fundtracking/img/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'fundtracking/css/screen.css' %}" type="text/css" media="screen,projection" charset="utf-8" />
  <link rel="stylesheet" href="{% static 'fundtracking/css/print.css' %}" type="text/css" media="print" charset="utf-8" />
  <!--[if IE]><link rel="stylesheet" href="{% static 'fundtracking/css/ie.css' %}" type="text/css" media="screen,projection" charset="utf-8" /><![endif]-->
  <link rel="stylesheet" href="{% static 'fundtracking/css/style.css' %}" type="text/css" media="screen,projection" charset="utf-8" />
  {% block head_scripts %}{% endblock %}
{% analytical_head_bottom %}
</head>
<body>
{% analytical_body_top %}
  <div id="container" class="container">
    <!-- Extra white space to allow the container extends to the top -->
    <div id="header" class="span-24">&nbsp;
      <h1>Public Mutual Tracker</h1>
      <a href="{% url root %}"><img src="{% static 'fundtracking/img/logo.png' %}" alt="Mutual Tracker" /></a>
    </div>
    <div id="nav">
      <ul>
        <li><a href="{% url root %}">Home</a></li>
        <li><a href="http://blog.mutualtracker.com/">Blog</a></li>
        <li><a href="/help/api/">API</a></li>
        <li><a href="http://pbmutualtracker.uservoice.com/">Send Feedback</a></li>
      </ul>
    </div>

    <div id="content" class="span-24">
      {# TODO: Put up a session flash message block here #}
      {% block content %}{% endblock %}
    </div>

    <div id="footer" class="span-24">
      <ul>
        <li>&copy; Seh Hui "Felix" Leong</li>
        <li><a href="{% url mutualtracker.fundtracking.views.index %}">Home</a></li>
        <li><a href="http://blog.mutualtracker.com/">Blog</a></li>
        <li><a href="/help/api/">API</a></li>
        <li><a href="http://pbmutualtracker.uservoice.com/">Send Feedback</a></li>
      </ul>
      <p class="disclaimer">
      Disclaimer: This site is not affiliated to Public Mutual Bhd and Public
      Bank Bhd. For investment advice, please ask your unit trust consultant…
      and, unfortunately, I'm not one ☺.
      </p>
    </div>
  </div>
  {% block end_of_page_scripts %}{% endblock %}
{% analytical_body_bottom %}
</body>
</html>
